NOTION_TOKEN="ntn_abc123"

TASKS_DB_ID="abc123-aaaa-bbbb-cccc-abc123"
WEIGHTS_DB_ID="abc123-aaaa-bbbb-cccc-abc123"

WHISKER_EMAIL="email@domain.com"
WHISKER_PASSWORD="password"

# sort by ascending chonk
CAT_NAMES="Cat 1, Cat 2"
CAT_TARGET_WEIGHTS="9.0, 11.0"
